.layout-wrapper {
  display: flex;
  min-height: 100vh;

  /* Direction of the items, can be row or column */
  flex-direction: column;
  align-items: stretch;

  .main {
    flex-grow: 1;
  }

  .header, .main, .footer {
    min-height: 110px;
    flex-shrink: 0;
  }
}