.layout-wrapper {
  min-height: 100vh;


  .header {
    min-height: 110px;
  }

}

@media only screen and (min-width: 992px) {
  .footer {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 50px;
  }
}