/*
* Credits for CSS of Box-Theme header to : Ahmed Eissa (www.ahmedessa.net)
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- General -
    - typography -
  - box intro section -
  - mouse - 
  - Responsive media queries -
*/

.landing {
    height: 100%;
    
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    .no-padding [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
    
    .main-container {
        padding: 100px 0;
    }
    
    .center {
        text-align: center;
    }
    
    a {
        -webkit-transition: all .3s;
        transition: all .3s
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    .h-30 {
        height: 30px
    }
    
    .h-10 {
        height: 10px
    }
    
    .color {
        color: #0395DE;
        font-size: 11px;
    }
    
    
    /* typography
    ==================================================*/
    
    h1 {
        color: #393939;
        font-size: 60px;
        text-transform: uppercase;
    }
    
    h3 {
        color: #393939;
    }
    
    h5 {
        color: #0395DE; /* Original: #ffbf00 */;
  }
}


/* box-intro
==================================================*/

.box-intro {
  text-align: center;
  display: table;
  height: calc(100vh - 182px);
  width: 100%;
}

.box-intro .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.box-intro em {
  font-style: normal;
  text-transform: uppercase
}

b i:last-child {
  color: #0395DE !important;
}

.box-intro h5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #999;
  line-height: 1.7
}

/* mouse effect */

.mouse {
  width: 22px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #888;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}

.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #888;
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
}

@-webkit-keyframes intro {
  0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@keyframes intro {
  0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@-webkit-keyframes finger {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
  }
}

@keyframes finger {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
  }
}


/* Responsive media queries
==================================================*/

@media only screen and (min-width: 992px) {
  .main {
    .projects {
      display: grid;
      grid-template-areas: "list card";
      grid-template-columns: 3fr 2fr;
    
      margin-top: 50px;
    
      .projects-list-wrapper {
        grid-area: list;
      }
    
      .project-card {
        grid-area: card;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main {
    .projects {
      display: grid;
      grid-template-areas: 
        "list"
        "card";

      .projects-list {
        grid-area: list;
        height: 700px;
      }
    
      .project-card {
        grid-area: card;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .box-intro {
      font-size: small;
      line-height: normal;
    }

    .projects {
      .projects-list-wrapper {
        height: 550px;
      }
    
      .project-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }
}
